.list-inline {
    display: flex;
    list-style: none;
}

.list-inline * {
    padding: 0 12px;
}

/* ==============================
   ------------COLORI------------ 
   ============================== */

:root {
    --toolbar-top: #080b12;
    --toolbar-bottom: #282828;
    --inner: #141922;
    --grey: #7d7f84;
    --sidebar-icon: #d2d2d2;
}

/* ==============================
   -------------FLEX------------- 
   ============================== */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}