@import "reset.css";
@import "common.css";
@import "typography.css";

body {
    height: 100vh;
    background-color: var(--inner);
}

/* ====================================
   -----------TOOLBAR SOPRA------------ 
   ==================================== */

#toolbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: var(--toolbar-top);
    height: 90px;
    padding: 7px 9px;
}

#btn-upgrade {
    border: 1px solid white;
    background-color: var(--toolbar-top);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
}

/* ====================================
   ----------LAYOUT CENTRALE----------- 
   ==================================== */

#inner-layout {
    padding-left: 230px;
    padding-top: 65px;
    padding-bottom: 90px;
    color: yellow;
    position: relative;
    overflow-y: auto;
}

#inner-layout nav {
    padding: 0 15px;
}


#inner-layout nav li {
    padding-top: 40px;
}

/* RESPONSIVE MD */
@media screen and ( max-width: 1100px ) {
    /* #inner-layout nav {
        background-color: orange;
    } */

    #inner-layout nav ul {
        display: flex;
       flex-wrap: wrap;
    }

    #inner-layout nav li {
        margin: auto;
        text-align: center;
    }

}

/* RESPONSIVE S */
@media screen and ( max-width: 700px ) {

    /* #inner-layout nav {
        background-color: lightgreen;
    } */

    #inner-layout nav li {
        width: calc(100% / 3);
        text-align: center;
    }

    #inner-layout nav li:nth-child(4) {
        position: relative;
        left: -10px;
    }

    #inner-layout nav li:nth-child(5),
    #inner-layout nav li:nth-child(6) {
        position: relative;
        left: 15px;
    } 
}

/* ====================================
   --------------SIDEBAR--------------- 
   ==================================== */

#sidebar {
    background-color: black;
    width: 230px;
    height: 100%;
    z-index: 15;
    color: var(--grey);
    padding-left: 15px;
    padding-bottom: 90px;

    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    height: 90px;
    margin-bottom: 10px;
    position: relative;
}

.logo:after {
    content: "";
    display: none;
    height: 35px;
    width: 60%;
    background-image: url('img/logo-small.svg');
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 15px;
}

.logo img {
    width: 60%;
}

.sidebar-menu {
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-top .sidebar-menu:first-child span, 
.nav-top .sidebar-menu:first-child img, 
.sidebar-menu:hover * {
    color: white;
    filter: none;
}

.sidebar-menu img {
    width: 25px;
    filter: brightness(50%);
}

.sidebar-menu span {
    padding-top: 5px;
    padding-left: 7px;
}

.playlist {
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.playlist ul {
    overflow-y:auto;
}

.playlist li:not(:first-child) {
    margin-left: -8px;
}

#playlist-add {
    margin-top: 10px;
}

#playlist-add:before {
    content: "+";
    font-size: 45px;
    box-sizing: border-box;
    top: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 37px;
    background-color: var(--grey);
    filter: brightness(50%);
}

#playlist-add:hover:before {
    filter: brightness(100%);
}

#playlist-add span {
    position: relative;
    top: 6px;
}

.sidebar-bottom {
    padding-right: 15px;
    position: relative;
}

.sidebar-bottom #download img {
    transform: scale(0.7);
}

.sidebar-bottom #download {
    position: relative;
    top: 5px;
    left: -5.5px;
}

.sidebar-bottom #profile {
    margin-top: 7px;
    position: relative;
    left: -4px;
}

.sidebar-bottom #profile img {
    transform: scale(0.8);
    filter: none;
    background-color: gray;
    border-radius: 50%;
}

.sidebar-bottom #profile span {
    color: white;
}
    
/* RESPONSIVE XS */
@media screen and ( max-width: 600px ) {

    #inner-layout {
        padding-left: 50px;
    }

    .logo {
        height: 45px;
    }

    .logo img, 
    .sidebar-menu span,
    .playlist,
    hr {
        display: none;
    }

    .sidebar-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        position: relative;
        left: 5px;
    }

    #download img {
        position: relative;
        top: -1.5px;
    }

    .logo:after {
        display: block;
        margin-right: 9px;
    }

    #sidebar {
        width: 50px;
        padding-left: 0px;
    }

    .sidebar-menu {
        justify-content: center;
    }

    .sidebar-menu img {
        margin: auto;
    }

}

/* ====================================
   -----------TOOLBAR SOTTO------------ 
   ==================================== */

#toolbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    color: white;
    height: 90px;
    background-color: var(--toolbar-bottom);
}

.toolbar {
    /* border: 1px solid violet; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* SINISTRA */
.toolbar.left {
    justify-content: space-between;
    width: 20%;
}

.toolbar.center {
    justify-content: center;
    width: 80%;
}

.toolbar.right {
    justify-content: flex-end;
    width: 20%;
}

.song * {
    padding-left: 5px;
    cursor: pointer;
}

.song img {
    width: 42px;
}

.song span {
    position: relative;
    top: 4px;
}

.song span:last-child {
    color: gray;
    white-space: nowrap;
    display: block;
}

.icons {
    padding-left: 10px;
}

.icons * {
    padding: 0 5px;
    color: gray;
    cursor: pointer;
}

.icons *:hover {
    color: white;
}

/* CENTRO */
.toolbar.center .top {
    padding: 0 20px;
    padding-bottom: 10px;
    width: 190px;
}

.toolbar.center .bottom {
    width: 100%;
    position: relative;
    padding: 0 35px;
}

.toolbar.center .bottom span {
    margin-bottom: 2px;
}

.progress-bar {
    background-color: grey;
    width: 50%;
    margin: 0 20px;
    height: 2px;
    position: relative;
}

.progress-bar:before {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    background-color: lightgray;
}

.progress-bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    top: -5px;
    cursor: pointer;
}

/* DESTRA */

/* RESPONSIVE S */
@media screen and ( max-width: 700px ) {

    .song span {
        top: 0;
    }

    .song img {
        width: 30px;
        height: 30px;
    }

    .icons {
        flex-direction: column;
    }

    .icons i:first-child {
        margin-bottom: 5px;
    }

}

/* RESPONSIVE XS */
@media screen and ( max-width: 600px ) {

    .song span:last-child {
        white-space: normal;
    }

    .song {
        position: relative;
        top: 3px;
    }
}
