@import "reset.css";
@import "common.css";
@import "typography.css";

body {
    height: 100vh;
    background-color: var(--inner);
}

/* ====================================
   -----------TOOLBAR SOPRA------------ 
   ==================================== */

#toolbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: var(--toolbar-top);
    height: 90px;
    padding: 7px 9px;
}

#btn-upgrade {
    border: 1px solid white;
    background-color: var(--toolbar-top);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
}

/* ====================================
   ----------LAYOUT CENTRALE----------- 
   ==================================== */

#inner-layout {
    padding-left: 230px;
    padding-top: 65px;
    padding-bottom: 90px;
    color: yellow;
    position: relative;
}

#inner-layout nav {
    padding: 0 15px;
}


#inner-layout nav li {
    padding-top: 40px;
}

/* RESPONSIVE MD */
@media screen and ( max-width: 1100px ) {
    #inner-layout nav {
        /* background-color: orange; */
    }

    #inner-layout nav ul {
        display: flex;
       flex-wrap: wrap;
    }

    #inner-layout nav li {
        margin: auto;
        text-align: center;
    }

}

/* RESPONSIVE S */
@media screen and ( max-width: 700px ) {
    #inner-layout nav {
        /* background-color: lightgreen; */
    }

    #inner-layout nav li {
        width: calc(100% / 3);
        text-align: center;
    }

    #inner-layout nav li:nth-child(4) {
        position: relative;
        left: -10px;
    }

    #inner-layout nav li:nth-child(5),
    #inner-layout nav li:nth-child(6) {
        position: relative;
        left: 15px;
    } 
}

/* ====================================
   --------------SIDEBAR--------------- 
   ==================================== */

#sidebar {
    background-color: black;
    width: 230px;
    height: 100%;
    z-index: 15;
    color: yellow;
    padding-left: 15px;

    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    height: 90px;
    border: 1px solid white;
    margin-bottom: 10px;
    position: relative;
}

.logo:after {
    content: "";
    display: none;
    height: 35px;
    width: 60%;
    background-color: blueviolet;
    background-image: url('img/logo-small.svg');
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 50px;
}

.logo img {
    width: 60%;
}

.sidebar-menu {
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar-menu:hover * {
    color: white;
    filter: none;
}

.sidebar-menu img {
    width: 25px;
    filter: brightness(50%);
}

.sidebar-menu span {
    color: var(--grey);
    padding-top: 5px;
    padding-left: 7px;
}

/* RESPONSIVE XS */
@media screen and ( max-width: 600px ) {

    #inner-layout {
        padding-left: 50px;
    }

    .logo img {
        display: none;
    }

    .logo:after {
        display: block;
    }

    #sidebar {
        width: 50px;
        padding-left: 4px;
    }

    .sidebar-menu {
        justify-content: center;
    }

    .sidebar-menu img {
        margin: auto;
    }
    
    .sidebar-menu span {
        display: none;
    }
}

/* ====================================
   -----------TOOLBAR SOTTO------------ 
   ==================================== */

   #toolbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    color: white;
    height: 90px;
    background-color: var(--toolbar-bottom);
}