* {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}

/* ====================================
   -----------TOOLBAR SOPRA------------ 
   ==================================== */

#btn-upgrade {
    font-weight: bold;
}

/* ====================================
   ----------LAYOUT CENTRALE----------- 
   ==================================== */

#inner-layout nav {
    color: var(--grey);
    font-weight: bold;
}

#inner-layout nav li:hover {
    color: lightgray;
}

#inner-layout nav li {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

#inner-layout nav li:first-child:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 30%;
    right: 30%;
    height: 2px;
    background: #adff2f;
}

#inner-layout h2 {
    font-size: 1.45rem;
    padding-bottom: 50px;
    white-space: nowrap;
    text-align: left;
}

#inner-layout span {
    font-weight: bold;
    color: gray;
}

#inner-layout span {
    display: inline-block;
    margin-bottom: 20px;
}

#inner-layout h3 {
    padding: 10px 0;
    font-size: 1.30rem;
}

.section-title h4 {
    position: absolute;
    white-space: nowrap;
    top: 35px;
    left: 0;
    color: gray;
}

.album-section:first-of-type h2 {
    margin-top: 25px;
    margin-bottom: -25px;
}

/* ====================================
   --------------SIDEBAR--------------- 
   ==================================== */

#sidebar {
    font-weight: 500;
}

.playlist h3 {
    color: white;
    font-size: 0.875rem;
}

/* ====================================
   -----------TOOLBAR SOTTO------------ 
   ==================================== */

/* SINISTRA */
.song span,
.song span:first-child {
    font-weight: bold;
}

.icons i{
    font-size: 1.2rem;
}

/* CENTRO */
.toolbar.center .top i {
    font-size: 1.125rem;
    cursor: pointer;
}

.toolbar.center .top i:nth-child(3) {
    font-size: 2rem;
    padding: 0 5px;
    position: relative;
    top: -6px;
}

.toolbar.center span {
    font-weight: bold;
    font-size: 0.75rem;
}